<% content_for :title, 'About' %>
<% content_for :description, 'About myself' %>
<%= stylesheet_link_tag 'skill_progress', media: 'all', 'data-turbolinks-track': 'reload' %>

<!-- Page Header -->
<header class="masthead about-header" style="background-image: url('<%= image_path 'about.jpg' %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="right-col-block blocks">
        <section class="intro section-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Mình là ai</h2>
                </div>
              </div>
              <div class="col-md-12">
                <p>
                  Chào các bạn, mình là <b>Đức</b>, người tạo ra NDD Blog này. Hiện tại, mình đang sống và làm việc tại Nhật Bản.
                  Công việc của mình là Web developer, chủ yếu là làm backend với Rails, nhưng cũng thỉnh thoảng đá
                  sang làm frontend 1 tí nên ít nhất cũng biết html, css, js là gì 😂
                </p>

              </div>
            </div>
          </div>
        </section>

        <section class="intro section-wrapper gray-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Tại sao lại có blog này</h2>
                </div>
              </div>
              <div class="col-md-12">
                <p>
                  Mình thì luôn muốn được trải nghiệm những cái mới (công nghệ mới, vùng đất mới...), vì vậy mình cần 1 nơi
                  để lưu lại và chia sẻ những thứ đã học và làm được cho mọi người. Và đó chính là NDD blog.
                </p>
                <p>
                  À tất nhiên là còn những lý do khác như là rảnh quá không biết làm gì, thấy bạn bè ai cũng viết blog nên đua đòi,
                  có cái ghi vào CV cho đẹp, có chỗ để xàm, vân vân và mây mây..... 😌
                </p>

              </div>
            </div>
          </div>
        </section>

        <section class="expertise-wrapper section-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Kỹ năng</h2>
                </div>
              </div>
            </div>
            <!-- .row -->

            <div class="row">
              <div class="col-md-6">
                <div class="expertise-item">
                  <h4>Làm việc nhóm</h4>

                  <p>
                    Từng làm việc trong 1 team 8 người. Biết cách phối hợp để tạo hiệu quả cao.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="expertise-item">
                  <h4>Tự học</h4>

                  <p>
                    Tự học tiếng Nhật tại nhà trong 3 năm. (giờ đã có N2 😎)
                  </p>
                </div>
              </div>
            </div>
            <!-- .row -->
            <div class="row">
              <div class="col-md-6">
                <div class="expertise-item">
                  <h4>Giải quyết vấn đề</h4>

                  <p>
                    Có khả năng tự tìm cách và giải quyết các vấn đề khó khăn.
                  </p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="expertise-item">
                  <h4>Tiếp cận công nghệ</h4>

                  <p>
                    Luôn hứng thú với công nghệ mới nên có khả năng tiếp cận công nghệ nhanh chóng, hiệu quả.
                  </p>
                </div>
              </div>
            </div>
            <!-- .row -->
          </div>
          <!--.container-fluid-->
        </section>
        <!-- .expertise-wrapper -->

        <section class="section-wrapper skills-wrapper gray-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Ngôn ngữ lập trình</h2>
                </div>
              </div>
            </div>

            <!--.row-->
            <div class="row">

              <div class="col-md-12">
                <ul class="skills-bar-container">

                  <li>
                    <div class="progressbar-title">
                      Java (Android)
                      <span class="percent" id="html-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progressred" id="progress-html"></span>
                    </div>
                  </li>
                  <li>
                    <div class="progressbar-title">
                      Ruby (Rails)
                      <span class="percent" id="css-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progressblue" id="progress-css"></span>
                    </div>
                  </li>

                  <li>
                    <div class="progressbar-title">
                      PHP (Laravel)
                      <span class="percent" id="javascript-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progresspurple" id="progress-javascript"></span>
                    </div>
                  </li>

                  <li>
                    <div class="progressbar-title">
                      Javascript
                      <span class="percent" id="php-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progressorange" id="progress-php"></span>
                    </div>
                  </li>

                  <li>
                    <div class="progressbar-title">
                      HTML/CSS
                      <span class="percent" id="angular-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span class="progressbar progressgreen" id="progress-angular"></span>
                    </div>
                  </li>

                </ul>
              </div>
              <!--.row -->
            </div>
            <!-- .container-fluid -->
          </div>
        </section>
        <!-- .skills-wrapper -->
        <br>
        <section class="section-wrapper section-experience">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title"><h2>Kinh nghiệm làm việc</h2></div>
              </div>
            </div>
            <!--.row-->
            <div class="row">
              <div class="col-md-12">
                <div class="content-item">
                  <i>3/2018 - Hiện tại</i>
                  <h5>GA Technologies Inc - Rails Developer</h5>

                  <p>
                    Hiện tại mình đang làm việc tại GA Technologies, Nhật Bản. Công ty chuyên về bất động sản.
                    Tuy không phải chuyên về IT, không có quy trình chuẩn như các công ty khác, nhưng hiện tại cũng đang phát triển mạnh về mảng này.
                    Ngoài điểm ý ra thì không còn gì để chê, môi trường làm việc trẻ, mọi người đều thân thiện, đặc biệt mỗi tháng có party nhỏ
                    để nhân viên làm quen với nhau, giúp tiếng Nhật của mình lên không ít 😁.
                  </p>
                </div>

                <!-- .experience-item -->
                <div class="content-item">
                  <i>4/2016 - 12/2016</i>
                  <h5>FRAMGIA VIETNAM CO., LTD - Android Developer Internship</h5>

                  <p>Trong khoảng thời gian này có lẽ mình học được nhiều nhất, không phải kiến thức về các ngôn ngữ lập trình, mà là
                    cách làm việc nhóm, cách quản lý, phân chia công việc, cách sử dụng Git hiệu quả... Đặc biệt mình còn làm quen được với 1
                    team ( iship4` à nhầm ishipper 🤣 ) thực sự hợp cạ, phải nói là đi làm mà chưa bao giờ thấy chán.
                  </p>
                </div>
              </div>
            </div>
            <!--.row-->
          </div>
          <!-- .container-fluid -->

        </section>
        <!-- .section-experience -->

        <section class="section-wrapper section-education gray-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title"><h2>Sự nghiệp học hành</h2></div>
              </div>
            </div>
            <!--.row-->
            <div class="row">
              <div class="col-md-12">
                <div class="content-item">
                  <i>9/2012 - 7/2017</i>
                  <h5>Ha Noi University of Science and Technology</h5>

                  <p>
                    5 năm đại học tưởng dài nhưng thực sự qua rất nhanh. Lúc học thì muốn xong nhanh để ra trường đi làm.
                    Đến lúc đi làm rồi thì lại thấy...ờ ra trường nhanh đúng là vui thật 😇.
                  </p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                  <i>9/2009 - 4/2012</i>
                  <h5>High School for Gifted Student</h5>

                  <p>
                    Mặc dù học chuyên Tin từ cấp 3, nhưng hồi ý mình cũng không biết nhiều về lập trình ngoài 1 ít Pascal và C.
                    Giờ nghĩ lại thời ý mà chăm chỉ thì giờ chắc bá lắm r.
                  </p>
                </div>
                <!-- .experience-item -->
              </div>
            </div>
            <!--.row-->
          </div>
          <!-- .container-fluid -->

        </section>
        <!-- .section-education -->

        <section class="section-wrapper section-interest">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2>Sở thích</h2>
                </div>
              </div>
            </div>
            <!-- .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="content-item">
                  <h4>Game</h4>

                  <p>
                    Lúc bé cũng ham chơi game lắm, giờ đỡ nhiều rồi, do đi làm về mệt chả muốn chơi nữa.
                    Kinh nghiệm đầy mình trong 1 số trò như Dota 2 ( 8 năm ), Counter Strike ( từ lớp 4 =)) )....
                  </p>
                </div>
                <div class="content-item">
                  <h4>Thể thao</h4>

                  <p>
                    Không thích xem và chơi đá bóng nhưng thích chơi Pes. Có <bold>tận</bold> 3 năm kinh nghiệp chơi cầu lông,
                    nhưng đó là chuyện quá khứ rồi, giờ thì gà lắm 😢. Từ khi qua Nhật mình chuyển qua môn luyện cơ chân, mỗi ngày đi làm đứng khoảng 1h30' trên tàu :v.
                  </p>

                </div>
                <div class="content-item">
                  <h4>Manga và Anime</h4>

                  <p>
                    Manga thì thích xem từ bé rồi, còn Anime thì phải đến năm 2 đại học mới xem nhiều. Chính 2 thứ này
                    là khởi đầu cho mong muốn đi Nhật của mình, may mà giờ cũng đạt được, không bỏ phí mấy năm học tiếng.
                  </p>
                </div>
              </div>
            </div>
            <!-- .row -->

          </div>
        </section>
        <!-- .section-publications -->

      </div>
    </div>
  </div>
</div>