<% content_for :css_tags do %>
  <%= stylesheet_link_tag 'error-page' %>
<% end %>

<div class="erorr-wrapper">
  <div class="message-box">
    <div class="oops">Oops!</div>
    <div class="message">404 - PAGE NOT FOUND</div>
  </div>
</div>
