<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= image_path 'home-bg.jpg' %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2><span class="quote-mark">&ldquo;</span>You can't connect the dots looking forward; you can only connect them looking backwards.
            So you have to trust that the dots will somehow connect in your future <span class="quote-mark">&bdquo;</span></h2>
          <span class="subheading" style="position: absolute; right: 100px">Steve Jobs</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-list">
        <%= render @new_posts %>
      </div>
      <%= image_tag 'loading.gif', class: 'loading-gif' %>
      <!-- Pager -->
      <div class="clearfix">
        <%= link_to "Older Posts &rarr;".html_safe, root_url, class: 'btn btn-primary float-right load-more' %>
      </div>
    </div>
  </div>
</div>

<hr>
