<% content_for :title, 'NDD Blog | Home' %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= image_path 'home-bg.jpg' %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2><span class="quote-mark">&ldquo;</span> IT'S NOT A BUG, IT'S A FEATURE <span class="quote-mark">&bdquo;</span></h2>
          <span class="subheading" style="position: absolute; right: 100px">Unknown</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-list">
        <%= render @new_posts %>
      </div>
      <% if Post.exists?(['id < ?', @new_posts&.last&.id]) %>
        <%= image_tag 'loading.gif', class: 'loading-gif' %>
        <!-- Pager -->
        <div class="clearfix">
          <%= link_to "Older Posts &rarr;".html_safe, root_url, class: 'btn btn-primary float-right load-more' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr>
