<% flash.each do |message_type, message| %>
  <% if message_type == "notice" || message_type == "success" %>
    <% message_type = "success" %>
    <% message_title = t('well_done') %>
  <% end %>
  <% if message_type == "alert" || message_type == "danger" %>
    <% message_type = "danger" %>
    <% message_title = "Oh snap!" %>
  <% end %>
  <div id="flash-alert" class="alert alert-dismissible alert-<%= message_type %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= message_title %></strong> <%= message %>
  </div>
<% end %>
<script type="text/javascript">
    $("#flash-alert").delay(3000).fadeOut("slow");
</script>

