<div class="container">
  <div class="footer-left">
    &copy; Copyright text 2018 by ducnojinsei
  </div>
  <div class="footer-right">
    <ul>
      <li><%= link_to 'Techniques', '#' %></li>
      <li><%= link_to 'Life Stories', '#' %></li>
      <li><%= link_to 'Funny Moments', '#' %></li>
      <li><%= link_to 'About me', '#' %></li>
    </ul>
  </div>
</div>