<aside id="sidebar">
  <div id="search-box">
    <%= form_tag '#' do %>
      <%= text_field_tag :query, nil, { placeholder: 'Tìm kiếm...' } %>
      <%= button_tag :submit, class: 'btn' do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <div id="tags-box">
    <div class="label">Tags</div>
    <div class="tags">
      <% Tag.all.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: 'btn' %>
      <% end %>
    </div>
  </div>
</aside>
