<div id="sidebar">
  <div id="search-box">
    <%= form_tag '#' do %>
      <%= text_field_tag :query, nil, { placeholder: 'Tìm kiếm...' } %>
      <%= button_tag :submit, class: 'btn' do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <div id="tags-box">
    <div class="label">Tags</div>
    <div class="tags">
      <% Tag.all.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: 'btn' %>
      <% end %>
    </div>
  </div>
  <div id="social-media">
    <div class="label">Social Media</div>
    <div class="items">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/dinhduc6594" target="_blank" aria-label="Facebook Link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/dinhduc0605" target="_blank" aria-label="Github Link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/nguyen-dinh-duc-0605/" target="_blank" aria-label="Linkedin Link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
