<%= image_tag image_url(@post.cover), class: 'post-show-cover' %>
<div class="row justify-content-center">
  <div class="post-show-content col-md-11">
    <div class="post-show-title">
      <%= @post.title %>
    </div>
    <hr>
    <%= markdown(@post.content) %>
  </div>
</div>
<div class="tags">
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, admin_tag_url(tag), class: 'tag' %>
  <% end %>
</div>