$primary-background-color: #ffffff;
$overlay-color: #212529;
$primary-text-color: #505050;
$primary-text-light-color: #8d8d8d;
$secondary-background-color: #294cff;
$nav-default-text-color: #ffffff;
$nav-hover-default-text-color: #e4e4e4;
$divider-color: #e9e9e9;
$btn-background-color: #f2f2f2;
$btn-background-hover-color: #e5e5e5