@import "colors";
@import "dimention";

// navigation bar
@font-face {
  font-family: 'Montserrat';
  src: font-url('montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: font-url('montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: font-url('montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 100;
}

body {
  background-color: $primary-background-color;
  font-family: 'Montserrat', serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  color: $primary-text-color;
  &:hover {
    color: $secondary-background-color;
    text-decoration: none;
  }
}

.emoji-icon {
  width: 22px;
  height: 22px;
  margin-bottom: 4px;
}

.about-header, .home-header {
  height: 500px;
}

footer {
  .copyright {
    text-align: center;
  }
}

.pagination {
  margin: 40px 0;
  float: right;
  & > div {
    background-color: #f4f4f4;
    padding: 8px;
    border-radius: 50px;
    font-size: 14px;
    span {
      &:not(.page) {
        &:first-child {
          margin-left: 8px;
        }
        &:last-child {
          margin-right: 8px;
        }
      }
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      margin: 0 2px;
      color: #969696;
      &:hover {
        color: $secondary-background-color;
      }
      a {
        color: #969696;
        &:hover {
          color: $secondary-background-color;
        }
      }
    }
    .page {
      width: 40px;
      &.current {
        background-color: $secondary-background-color;
        border-radius: 50%;
        color: #ffffff;
      }
    }
  }
}

.grey-stroke {
  color: transparent;
  -webkit-text-stroke: 1px $primary-text-light-color;
  &:hover {
    -webkit-text-stroke: 1px $primary-text-color;
  }
}

#mainNav {
  height: 95px;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 14px;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(255,255,255,.2);
  a.navbar-brand, a.nav-link {
    img {
      height: 40px;
      &.white-navbar-brand {
        display: inline-block;
      }
      &.black-navbar-brand {
        display: none;
      }
    }
    color: $nav-default-text-color;
    &:hover {
      color: $nav-hover-default-text-color;
    }
  }
  .navbar-nav {
    li {
      margin-left: 24px;
    }
  }
  &.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: height 0.2s ease-out;
  }
  &.is-sticky {
    height: 70px;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid rgba(0,0,0,.08);
    a.navbar-brand, a.nav-link {
      color: #7e7e7e;
      &:hover {
        color: $primary-text-color;
      }
      .white-navbar-brand {
        display: none;
      }
      .black-navbar-brand {
        display: inline-block;
      }
    }
  }
  .navbar-toggler {
    span, span:before, span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: white;
      position: absolute;
      display: block;
      content: '';
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    span, span:before, span:after {
      transition: all 500ms ease-in-out;
    }
    .active span {
      background-color: transparent;
    }
    .active span:before, .active span:after {
      top: 0;
    }
    .active span:before {
      transform: rotate(45deg);
    }
    .active span:after {
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
    width: 1200px !important;
    padding: 0;
  }
}

@media all and (max-width: 991px) {
  #mainNav {
    height: auto;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid rgba(0,0,0,.08);
    &.is-sticky {
      height: auto;
    }
    a.navbar-brand {
      img {
        &.white-navbar-brand {
          display: none;
        }
        &.black-navbar-brand {
          display: inline-block;
        }
      }
    }

    .navbar-toggler {
      i {
        color: $primary-text-color;
      }
    }
    .navbar-collapse {
      li {
        margin-left: 5px;
        padding: 8px 0;
        border-bottom: 1px solid #e6e4e4;
        &:last-child {
          border-bottom: none;
        }
        a.nav-link {
          color: $primary-text-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-header {
    background-position: left !important;
  }
  .home-header {
    background-position: right !important;
  }
}
