.sidebar-header {
    padding: 5px 0;
    border-bottom: 4px solid #2C3E50 ;
}

.sidebar {
    background-color: white;
    padding: 15px;
}

body {
    background-color: #F6F6F6;
}

.fit-in {
    object-fit: cover;
}

footer {
    background-color: #2C3E50;
    padding: 20px;
    color: white;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-left {
    display: inline-block;
}

.footer-right {
    float: right;
}

.contact-icon i {
    margin: 0 5px;
}

.footer-right li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid white;
}

.footer-right li:nth-last-child(1) {
    border-right: none;
    padding-right: 0;
}
