@import "colors";

$famous-quote-text-color: #ffffff;

header.masthead {
  height: 500px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $overlay-color;
    opacity: 0.75;
  }
  .site-heading {
    text-align: center;
    color: #ffffff;
  }
  .famous-quote {
    width: 700px;
    padding: 0 16px;
    font-family: 'Montserrat', serif;
    color: $famous-quote-text-color;
    z-index: 1;
    .quote {
      font-size: 36px;
      font-weight: bold;
    }
    .author {
      font-size: 16px;
      margin-top: 8px;
      text-align: right;
      font-style: italic;
    }
  }
}

.post-list {
  .post-item {
    margin-bottom: 32px;
    .cover {
      overflow: hidden;
      padding: 0;
      border-left: 15px solid white;
      border-right: 15px solid white;

      &:hover img {
        transform: scale(1.2);
      }
      img {
        box-sizing: border-box;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform .5s ease;
      }
    }
    .detail {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 20px;
        font-weight: 900;
      }
      .info {
        font-size: 14px;
        color: $primary-text-light-color;
        margin-top: 10px;
        div {
          display: inline-block;
          &.author {
            width: 100px;
            span {
              font-weight: bold;
              &:hover {
                color: $primary-text-color;
              }
            }
          }
        }
      }
      .description {
        flex-grow: 1;
        color: $primary-text-light-color;
        margin-top: 10px;
        font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
        font-size: 15px;
      }
      .tags {
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid $divider-color;
        color: $primary-text-light-color;
        font-size: 13px;
        font-weight: 100;
        i {
          margin-right: 5px;
        }
        a {
          color: $primary-text-light-color;
          &:hover {
            color: $primary-text-color;
          }
          &:after {
            content: ',';
          }
          &:last-child:after {
            content: none;
          }
        }
        text-transform: uppercase;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .famous-quote {
    font-size: 30px;
  }

  .post-list {
    .post-item {
      .detail {
        .title {
          margin-top: 16px;
        }
        .description {
          margin-bottom: 16px;
        }
      }
    }
  }
}
