// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hot-post-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 10px;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 760px;
  margin: 0 auto;
  padding: 15px;
}

ul.post-meta {
  padding: 0;
  list-style-type: none;
  li {
    text-align: center;
    display: inline-block;
    padding: 0 5px;
  }
}
