<div id="image-file-<%= image_file.id %>" class="image-file-card">
  <div class="image-preview">
    <%= image_tag image_file.image_url %>
  </div>
  <div class="image-details" id="url">
    <%= text_field_tag nil, image_file.image_url, readonly: true %>
  </div>
  <div class="image-actions">
    <button type="button" class="btn-copy-url" title="Copy URL">
      <i class="fa fa-copy"></i>
    </button>
    <div class="copied-feedback">Copied!</div>
  </div>
</div>
