<footer class="admin-footer">
  <div>
    &copy; <span id="current-year"></span> <strong><%= t('title') %></strong>. Designed with <i class="fa fa-heart" style="color: #ef4444;"></i> for Creators.
  </div>
  <% content_for :javascript do %>
    <script type="text/javascript" charset="utf-8">
      $("#current-year").html(new Date().getFullYear())
    </script>
  <% end %>
</footer>
