<header class="admin-header">
  <div class="page-title">
    Dashboard / <span style="color: var(--primary-600);"><%= controller_name.humanize.titleize %></span>
  </div>

  <div class="header-actions">
    <div style="position: relative; margin-right: 1rem;">
      <i class="fa fa-search" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: var(--neutral-400);"></i>
      <input type="text" placeholder="Search..." style="padding-left: 32px; width: 200px; background: rgba(255,255,255,0.5); border-color: transparent;">
    </div>

    <button type="button" class="btn-primary" data-toggle="modal" data-target="#upload-modal">
      <i class="fa fa-cloud-upload-alt"></i>
      <span>Upload</span>
    </button>
  </div>
</header>
